<div>
<% @errors && @errors.each do |m|%>
<li><%= m %></li>
<%end%>

<img src="http://2.bp.blogspot.com/-KiOGn7uSICc/VnNpc3Bc_cI/AAAAAAAAUk8/4S2qnCPxX-c/s1600/ep11_dance.gif" alt="K-drama Happy Dance" class="center"><br>


<%= form_for @drama do |f| %>

<h2>Drama Info</h2>

<strong>Name: <%= f.text_field :name %></strong><br>
<strong>Genre: <%= f.text_field :genre %></strong><br>
<%= f.submit %>
<%end%>

<%=button_to "My Profile", user_path(current_user), method: :get%>
<%=button_to "Main page", dramas_path, method: :get%>
</div>