<div>
<%=render 'layouts/errors'%><br>

<%= form_for @drama do |f| %>

<h2>Drama Info</h2>

<strong>Name: <%= f.text_field :name %></strong><br>
<strong>Genre: <%= f.text_field :genre %></strong><br>
<%= f.submit %>
<%end%>

<%=button_to "My Profile", user_path(current_user), method: :get%>
<%=button_to "Main page", dramas_path, method: :get%>
</div>