<h3><%= info %></h3>
<h1><%= warning %></h1>

<% @dramas.each do |drama| %>
<%= link_to drama.name, drama_path(drama) %><br>
<%end%><br>

<%=button_to "Create Drama", new_drama_path, method: :get%>
<%= button_to "Log Out", logout_path, method: :post %>
