<h3>Drama Name: <%= @drama.name%></h3>
<strong>Genre: <%= @drama.genre %></strong><br>

<h2>Review Info</h2>
<% @drama.reviews.each do |review|%>
<strong>Title:</strong> <%= review.title%><br>
<strong>Rating:</strong> <%= review.rating%><br>
<strong>Review:</strong> <%= review.content%><br>
<strong>Username:</strong> <%= review.user.username%><br><br>
<%end%>

<%=link_to "Add Review", new_drama_review_path(@drama)%> - <%=link_to "Main Page", dramas_path%>
<%=button_to "Delete Drama", @drama, method: :delete%>
<%= button_to "Log Out", logout_path, method: :post %>