<h2>A list of all of my dramas I reviewed!</h2>

 <h3>Hello, <%=@user.username%></h3><br>

<%@user.reviews.each do |review|%>
<%= link_to review.drama.name, edit_review_path(review) %><br>
<%end%>

<%=button_to "Create Drama", new_drama_path, method: :get%>
<%=button_to "Main page", dramas_path, method: :get%>
<%= button_to "Log Out", logout_path, method: :post %>