<% @errors && @errors.each do |m|%>
<li><%= m %></li>
<%end%>

<%= form_for @review do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>
<%= f.label :rating %>
<%= f.number_field :rating %><br>
<%= f.label :content %>
<%= f.text_area :content %><br>
<%= f.hidden_field :drama_id, value: @review.drama_id%>
<%= f.hidden_field :user_id, value: current_user.id%>
<%= f.submit%>
<%end%>

<%= button_to "Delete Review", @review, method: :delete %> 
<%=button_to "Main Page", dramas_path, method: :get%>