<h2>Drama Info</h2>

<div>
<strong>Drama name: <%= @review.drama.name %></strong><br>
<strong>Genre: <%= @review.drama.genre%></strong><br>

<h2>Review Info</h2>

<strong>Username: <%= @review.user.username%></strong><br>
<strong>Review title: <%= @review.title%></strong><br>
<strong>Rating: <%= @review.rating%></strong><br>
<strong>Review:<%= @review.content%></strong><br>

<h2>Edit Review</h2>

<img src="https://i.pinimg.com/originals/95/f8/f5/95f8f5be14c8ebaaaadfe2451b85bd5d.gif" alt="K-drama edit" width="500" height="450" class="center" ><br>

<%= render 'form'%>

<div>
<%= button_to "Delete Review", @review, method: :delete %> 
<%=button_to "Main Page", dramas_path, method: :get%>
<%= button_to "Log Out", logout_path, method: :post %>
</div>