<h3>Drama name: <%= @review.drama.name %></h3><br>
<strong>Genre: <%= @review.drama.genre%></strong><br>
<strong>Username: <%= @review.user.username%></strong><br>
<strong>Review title: <%= @review.title%></strong><br>
<strong>Rating: <%= @review.rating%></strong><br>
<strong>Review:<%= @review.content%></strong><br>

<%= button_to "Delete Review", @review, method: :delete %>