<h3><%=info%></h3>

<h2>Drama name: <%= @review.drama.name %></h2><br>
<strong>Genre: <%= @review.drama.genre%></strong><br>
<strong>Username: <%= @review.user.username%></strong><br>
<strong>Review title: <%= @review.title%></strong><br>
<strong>Rating: <%= @review.rating%></strong><br>
<strong>Review:<%= @review.content%></strong><br>

<%=link_to "Main Page", dramas_path%> - <%=link_to "Previous", drama_path(@review.drama)%>
<%= button_to "Delete Review", @review, method: :delete %>